<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean class="com.springinaction.springidol.Magician" id="magician"/>
    <bean class="com.springinaction.springidol.Volunteer" id="volunteer"/>
    <bean class="com.springinaction.springidol.GraciousContestant" id="contestantDelegate"/>

    <aop:config>
        <aop:aspect ref="magician">
            <aop:pointcut id="thinking"
            expression="execution(* com.springinaction.springidol.Thinker.thinkOfSomething(String))
            and args(thoughts)"/>
            <aop:before pointcut-ref="thinking"
                        method="interceptThoughts"
                        arg-names="thoughts" />
            <!-- 引入-->
<aop:declare-parents types-matching="com.springinaction.springidol.Performer+"
                     implement-interface="com.springinaction.springidol.Contestant"
                     default-impl="com.springinaction.springidol.GraciousContestant"/>
            <!-- -->
<aop:declare-parents types-matching="com.springinaction.springidol.Performer+"
                     implement-interface="com.springinaction.springidol.Contestant"
                     delegate-ref="contestantDelegate"/>
        </aop:aspect>
    </aop:config>
</beans>


















